<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="<%= root_path %>">The Rial News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <svg class="svg-inline--fa fa-bars" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path></svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com -->
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 font-weight-bold">Bienvenido <%= current_user.name%></a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="<%= root_path %>">Inicio</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="<%= about_index_path %>">Nosotros</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">Panel</a>
            <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
              <li><a class="dropdown-item" href="<%= news_index_path %>">Publicaciones</a></li>
              <li><a class="dropdown-item" href="<%= comments_path %>">Comentarios</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">Usuario</a>
            <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
              <li><a class="dropdown-item" href="<%= edit_user_registration_path	%>">Modificar Datos</a></li>
              <li>
                <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "dropdown-item px-lg-3 py-3 py-lg-4 btn btn-sm btn-link" %>
              </li>
            </ul>
          </li>
        <%else%>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 font-weight-bold">Bienvenido Visitante</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="<%= root_path %>">Inicio</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="<%= about_index_path %>">Nosotros</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 btn btn-outline-success text-white" href="<%= new_user_session_path %>">Iniciar Sesión</a></li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/home-bg.jpg');">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>The Rial News</h1>
          <span class="subheading">Te contamos la pura Pulenta</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <p style="color: green"><%= notice %></p>
</div>
