<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <div class="post-preview" id="<%= dom_id news %>">
          <h2 class="post-title"><%= news.title %></h2>
          <h3 class="post-subtitle"><%= news.content %></h3>
        <p class="post-meta">
          Posted by <%= news.user.name %> |
          Alvar3z |
          en <%= news.updated_at.strftime("%A %d de %B de %Y - %H:%M") %>
        </p>
      </div>
    </div>
  </div>
</div>
