<div class="container">
  <div class="row">
    <div class="col-3">
      <% if user_signed_in? %>
        <%= link_to "Nueva Noticia", new_news_path, class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-9">
      <!-- FORMULARIO DE BUSQUEDA-->
      <%= form_with url: root_path, method: :get do |form| %>
        <!-- Cuadro de búsqueda de tweets anteriores -->
        <div class="card mb-2">
          <div class="card-body">
            <div class="input-group">
              <%= form.text_field :buscar, class: "form-control", placeholder: "Buscar Publicación de Interés", value: @consulta %>
              <%= form.submit 'Buscar', class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<!-- Main Content-->
<% @news.each do |news| %>
  <%= render news %>
  <!-- Pager-->
  <p>
    <%= link_to "Ver Esta Noticia", news, class: "btn btn-primary" %>
  </p>
  <hr class="my-4" />
<% end %>
<div class="d-flex justify-content-center mb-4 text-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
